.background{
    background-image:url('https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20%2811%29.jpg');
    min-height: 400px;
    background-attachment: fixed;    
}
.scroll{
    min-height: 400px;
}