
    <header>

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top rgba-black-strong scrolling-navbar">
            <div class="container">
                <a class="navbar-brand scroll" href="#home">mustaphaAkinsola</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul snScrollSpy id="qw" role="navigation" class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item active">
                            <a snScrollSpyItem for="qw" class="nav-link scroll" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a snScrollSpyItem for="qw" class="nav-link scroll"  href="#about" data-offset="100">About</a>
                        </li>
                        <li class="nav-item">
                            <a  snScrollSpyItem for="qw" class="nav-link scroll" href="#skills" data-offset="100">Skills</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#works" data-offset="100">Works</a>
                        </li> -->
                        <li class="nav-item">
                            <a snScrollSpyItem for="qw" class="nav-link scroll" href="#contact" data-offset="100">Contact</a>
                        </li>
                    </ul>
                    <!-- Social Icon  -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-facebook light-green-text-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-twitter light-green-text-2"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fa fa-instagram light-green-text-2"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  
        <!-- Intro Section -->
        <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('./assets/bckgrnd.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask">
                <div class="container h-100 d-flex justify-content-center align-items-center">
                    <div class="row smooth-scroll">
                        <div class="col-md-12 pt-3">
                            <div class="white-text text-center pt-5">
                                <h1 style="font-size:60px" class="display-2 mb-4 dark-grey-text wow fadeIn">I am <strong>Mustapha Akinsola</strong></h1>
                                <h5 style="font-size: medium;" class="text-uppercase font-weight-bold wow fadeIn" data-wow-delay="0.4s"><mark>Web developer & Business Automation / Blockchain Enthusiast</mark></h5>
                                <a href="#about" class="btn-rounded scroll btn btn-floating btn-large wow fadeIn rgba-black-strong" data-wow-delay="0.4s" data-offset="100"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </header>